/* დაიწყო header */
header {
    border: 1px solid gray;
    width: 1280px;
    height: 150px;
    padding-top: 38px;
    padding-right: 66px;
    padding-bottom: 36px;
    padding-left: 44px;
    margin: 0 auto;
    /* padding არ მიჩვენებს inspect ში */
}

li {
    display: inline-block;
    margin-right: 95px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: thin;

}

nav {
    display: inline-block;
    vertical-align: middle;
}

h2 {
    display: inline-block;
    margin-right: 74px;
    font-size: 70px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.search {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
/* damtavrda feader */
/* iwyeba main */
main{
    border: 1px solid gray;
    width: 1280px;
    height: 779px;
   background-color: #306B34;
   margin: 0 auto;
   vertical-align: middle;
}
.foto{
    vertical-align: middle;
    padding-top: 174px;
    padding-right: 89px;
    padding-bottom:52px; 
    padding-left:95px ;

}
div{
    width: 306px;
   display: inline-block;
   vertical-align: middle;
}
h3{ font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
/* ვერ შევუვალე font */
   
}
.main{
    color: #F4F4F1;
    font-size: 20px;
    margin-top: 50px;
    font-style: italic;
    line-height: 30px;
}
/* <!-- დასრულდა main -->
<!-- daiwyo section --> */
section{
    border: 1px solid gray;
    width: 1280px;
    height: 482px;
    margin: 0 auto;

}
h4{
    width: 273px;
    font-size: 40px;
  
    margin: 75px auto 33px;
     
 font-style: italic;
 font-weight: 100;
   }
   button{
    width: 148px;
    height: 48px;
    font-size: 12px;
    color: white;
    background-color: #36413E;
    margin: 69px  auto 33px;
    margin-left: 590px;
    
 }
.text{
    width: 958px px;
    font-size: 20px;
    
     padding-left: 184px;
     padding-right: 138px;
     line-height: 28px;
     font-style: italic;
}

 /*დამთავრდა  section  */
/* დაიწყო footer*/
footer{
    border: 1px solid gray;
    font-size: 12px;
width: 1280px;
margin: 0 auto;
color:#F4F4F1;
background-color:#306B34 ;
padding-top: 18px;
padding-right: 110px;
padding-bottom: 23px;
padding-left: 75px;
margin-bottom: 20px;
}
.footer{display: inline-block;
    margin-right: 725px;
   
    font-size: 20px;
}
.logo{
    display: inline-block;
}
/* damtavrda footer */